
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__grid {
  display: flex;
  justify-content: space-between;
}

.main-nav__flex {
  display: flex;
  
}

.main-nav__item {
margin-right: 40px;
}